.link line {
	stroke: #aaa;
}

.label text {
	font-family: sans-serif;
	font-size: 10px;
}

.node circle {
	stroke: #fff;
	stroke-width: 3px;
	fill: #555;
}

.network-overlay {
	background-color: #000;
	bottom: 0px;
	left: 0px;
	opacity: 1;
	position: fixed;
	right: 0px;
	top: 0px;
}

body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: auto;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 40px;
  right: 0;
  background-color: #333333;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 20px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: auto;					
    height: auto;					
    padding: 2px;				
    font: 12px sans-serif;
    background: #28a0c9;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

.everything{
	pointer-events: all;
}

