.c_spinner {
    position: absolute;
    height: 200px;
    width: 200px;
    left: 45%;
    top: 40%;
    -webkit-animation: c_spinner infinite 2.5s linear;
       -moz-animation: c_spinner infinite 2.5s linear;
         -o-animation: c_spinner infinite 2.5s linear;
            animation: c_spinner infinite 2.5s linear;
    border: 40px solid rgba(125, 125, 125, 0.9);
    border-top-color: #4286f4;
    border-right-color: #4286f4;
    border-bottom-color: #4286f4;
    border-radius: 100%;
    z-index: 0;
    
}

@keyframes c_spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html, body {
    margin: 0;
    height: 100%;
}