.c_spinner {
    position: absolute;
    height: 200px;
    width: 200px;
    left: 45%;
    top: 40%;
    -webkit-animation: c_spinner infinite 2.5s linear;
       -moz-animation: c_spinner infinite 2.5s linear;
         -o-animation: c_spinner infinite 2.5s linear;
            animation: c_spinner infinite 2.5s linear;
    border: 40px solid rgba(125, 125, 125, 0.9);
    border-top-color: #4286f4;
    border-right-color: #4286f4;
    border-bottom-color: #4286f4;
    border-radius: 100%;
    z-index: 0;
    
}

@keyframes c_spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html, body {
    margin: 0;
    height: 100%;
}

.sidenavR {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 40px;
  left: 0;
  background-color: #333333;
  overflow-x: scroll;
  transition: 0.5s;
  padding-top: 60px;
  overflow-y: scroll;
}

.sidenavR a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenavR a:hover {
  color: #f1f1f1;
}

.sidenavR .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 20px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

table.dataTable.squished tbody td {
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 0px;
    padding-bottom: 0px;
    
}

