#module {

  padding-right: 0px;
  padding-left: 0px;
  text-align:center;
 
}

#module #showmoreless.collapsed:after {
  content: '+ Show More';
}

#module #showmoreless:not(.collapsed):after {
  content: '- Show Less';
}

#module #collapseExample.collapse:not(.show) {
  display: block;
  /* height = lineheight * no of lines to display */
  height: 4.5em;
  overflow: hidden;
}

#module #collapseExample.collapsing {
  height: 4.5em;
}

.center {
    margin: 0 auto;
    width: 80%;
}

#results .nav-tabs .nav-link {
  border-radius: 0px !important;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
}


#results > .container > .tab-content > .tab-pane {
  border: 1px solid #dee2e6;
}

#results-tables .card-header {
  border-bottom: 1px solid darkgrey;
}
